# Test environment: use Aliyun OSS.
UPLOAD_PROVIDER=oss
ALIYUN_OSS_REGION=oss-cn-beijing
ALIYUN_OSS_BUCKET=wellbeing1
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_ENDPOINT=wellbeing1.oss-cn-beijing.aliyuncs.com
